

/*nav {
  display: none;
}*/

img {
  max-width: 175px;
  height: 125px;
}

section  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.container{
  display: flex;
  justify-content: space-around;
}

aside{
  min-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}